/* 
option:nth-child(1) { color: #0e0e0e; background-color: salmon }
option:nth-child(2) { color: #0e0e0e; background-color: hotpink }
option:nth-child(3) { color: #0e0e0e; background-color: skyblue }
option:nth-child(4) { color: #0e0e0e; background: seashell }
option:nth-child(5) { color: #0e0e0e; background: gold }
option:nth-child(6) { color: #0e0e0e; background: rosybrown }
option:nth-child(7) { color: #0e0e0e; background: deepskyblue }
option:nth-child(8) { color: #0e0e0e; background: purple }
option:nth-child(9) { color: #0e0e0e; background: orange }
option:nth-child(10) { color: #0e0e0e; background: lawngreen }
option:nth-child(11) { color: #0e0e0e; background: turquoise }
option:nth-child(12) { color: #0e0e0e; background: darkviolet }
 */
